<h3>{{cabecalho}}</h3>
<p>
    {{corpo}}
</p>
<h5>{{rodape}}</h5>



<!-- <p>login works!</p>

<cmail-card [cabecalho]="aluno1.nome" [corpo]="aluno1.cargo" [rodape]="aluno1.disciplina">
</cmail-card>

<hr>

<cmail-card [cabecalho]="aluno2.nome" [corpo]="aluno2.cargo" [rodape]="aluno2.disciplina">
</cmail-card>

<hr>

<cmail-card [cabecalho]="aluno3.nome">
</cmail-card> 



aluno1 = {
    nome: "João",
    cargo: "Estudante",
    disciplina: "Fisica"
  }

  aluno2 = {
    nome: "Carlos",
    cargo: "Professor",
    disciplina: "Engenharia"
  }

  aluno3 = {
    nome: "Raul"
  }

-->